[Unit]
Description=a service to add all normal users to sudoers
After=cloud-final.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/bash /usr/bin/all_sudoers.sh

[Install]
WantedBy=default.target
WantedBy=cloud-init.target
